---
permalink: "/sitemap.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
  <url>
    <loc>{{ site.domain }}/</loc>
    <changefreq>monthly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>{{ site.domain }}/news/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>{{ site.domain }}/en/news/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.6</priority>
  </url>
{%- for post in news %}
  <url>
    <loc>{{ site.domain }}/news/{{ post.slug }}/</loc>
    <lastmod>{{ post.date | dateIso }}</lastmod>
    <xhtml:link rel="alternate" hreflang="ko" href="{{ site.domain }}/news/{{ post.slug }}/"/>
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.domain }}/en/news/{{ post.slug }}/"/>
  </url>
  <url>
    <loc>{{ site.domain }}/en/news/{{ post.slug }}/</loc>
    <lastmod>{{ post.date | dateIso }}</lastmod>
  </url>
{%- endfor %}
</urlset>
